/* Section 1 */
.s1 {
    background-color: #8CB5B6;
    background-size: cover;
    text-align: center;
}
.s1 h1 {
    font-family: 'Roboto', sans-serif;
}
.s1 h4 {
    
}

/* Section 2 */
.s2 {
    background-color: #457B9D;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

/* Section 3 */
.s3 {
    background-color: #465975;
    background-size: cover;
}

.s1 h4{
    padding-left: 30px;
}

